/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------------- Base styles ---------------- */

html {
    font-size: 16px;
}

body {
	color: rgb(226, 227, 237);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}
h1 {
    font-size: 2.25em;
}
h2 {
    font-size: 1.875em;
}
h3,
h4 {
    font-size: 1.125em;
}

p,
address {
    margin: 0;
    font-style: normal;
    font-size: 0.875em;
    line-height: 1.285;
}

a {
    text-decoration: none;
    color: rgb(226, 227, 237);
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

/* ---------------- Mobile styles ---------------- */

/* --- Container / Layout --- */

header, 
main,
footer {
    max-width: 1200px;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.content-wrapper {
    width: 90%;
    margin: 50px auto;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/* ---------------- Base Header/Footer styles ---------------- */

/*** Header ***/

header,
footer {
    background: rgb(32, 35, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header {
    padding: 15px 0;
} 

header .content-wrapper {
    margin: 0;
}

header .content-wrapper figure {
    width: 68%;
}

.header-divider {
    width: 100%;
    background-color: rgb(58, 58, 58);
    height: 1px;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
}

/*** Footer ***/

.footer-content {
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    text-align: center;
}

footer .contact,
footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer .contact {
    margin-bottom: 50px;
}

.contact h4,
.social h4 {
    width: 100%;
    padding-bottom: 20px;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

footer .social-icons p {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
}

/* ---------------- Main Page ---------------- */

/*** Main - Hero Area ***/

main {
    font-size: 1em;
    flex-flow: row wrap;
}

.hero-area {
    width: 100%;
    height: 500px;
    background: url(../img/jake-melara-30679-unsplash.jpg) rgb(82, 113, 88) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

main .content-wrapper {
    justify-content: center;
}


/*** Main - Aside ***/

aside {
    background-color: rgb(82, 113, 88);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

aside h4 {
    margin: 20px 0;
}

.form-description {
    margin: 30px 0 8px 0;
}

.form {
    margin: 19px 0 45px 0;
}

aside .form input {
    margin-bottom: 8px;
    padding: 16px;
}

aside .form input[type=text] {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(226, 227, 237);
    color: rgb(42, 66, 58);
    font-style: italic;
}

aside .form input[type=button] {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(42, 66, 58);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    color: rgb(226, 227, 237);
    text-transform: uppercase;
}

/*** Main - Features Section ***/

.features {
    height: 1450px;
    background: url(../img/rawpixel-800820-unsplash1.jpg) rgb(82, 113, 88) no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.features h2 {
    margin-bottom: 60px;
}

.features .features-items {
    width: 63%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}

.features article {
    margin: 30px 0;
}

p .fontawesome-icon {
    
}

p .features-item-description {
    
}

/*** Main - Reviews Section ***/

.reviews {
    background-color: rgb(42, 66, 58);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.reviews .content-wrapper {
    align-items: flex-start;
}

.reviews h2 {
    margin-bottom: 30px;
}

.reviews figure {
    padding: 0;
}

.reviews article {
    margin-top: 10px;
}

.reviews article h4 {
    width: 55%;
    margin-bottom: 20px;
}


/* ---------------- About Page ---------------- */

/*** Main - Mission Area ***/

.mission {
    background-color: rgb(112, 133, 116);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.mission-content p {
    margin-top: 20px;
}

.map {
    position: relative;
    width: 100%;
    padding-bottom: 93%; /* sets aspect ratio for container */
    height: 1px;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.general-contact {
    width: 100%;
    background-color: rgb(42, 66, 58);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.general-contact .content-wrapper {
    justify-content: flex-start;
}

.contact-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.general-info,
.facilitator {
    width: 100%;
}

.contact-content h4 {
    margin: 16px 0;
}


/* ---------------- Mobile styles - FAQ Page ---------------- */

/*** Main - FAQ Area ***/

.faq {
    background-color: rgb(82, 113, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.faq-content {
    width: 100%;
}

.faq h4 {
    margin: 40px 0 20px 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*** Min-width 768px ***/
@media all and (min-width: 768px) {
    
    /* Base style */
    .content-wrapper {
        width: 82%;
        margin: 100px auto;
    }

    /* Header */
    .header-divider {
        display: none;
    }
    header .content-wrapper {
        justify-content: space-between;
    }
    header .content-wrapper figure {
        width: 35%;
        margin: 10px 0;
    }
    header .content-wrapper nav {
        width: 20%;
    }

    /* Footer */
    .footer-content {
        justify-content: space-between;
        width: 78%;
    }
    footer .contact {
        width: 25%;
        margin-bottom: 0;
    }
    footer .social {
        width: 31%;
    }
    .contact h4,
    .social h4 {
        padding-bottom: 40px;
    }

    /*** media query 768px - Main page ***/
    main .content-wrapper {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .hero-area {
        justify-content: flex-start;
    }
    .hero-area h1 {
        width: 83%;
    }
    aside .content-wrapper {
        justify-content: space-between;
        margin: 50px 0;
    }
    .form-description {
        width: 40%;
        margin: 0;
    }
    .form {
        width: 46%;
        margin: 0;
    }

    /* Features */
    .features {
        height: 860px;
    }
    .features .features-items {
        width: 82%;
        justify-content: space-around;
        margin: 0 auto;
    }
    .features .features-items article {
        width: 40%;
    }
    .reviews .content-wrapper {
        justify-content: space-between;
        margin: 50px auto 100px auto;
    }

    /* Reviews */
    .reviews h2 {
        width: 77%;
        margin-bottom: 25px;
    }
    .reviews figure {
        width: 49%;
    }
    .reviews article {
        width: 48%;
        margin-top: 0;
    }

    /*** media query 768px - About page ***/
    .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }
    .mission-content p {
        width: 47%;
        margin-top: 36px;
    }
    .map {
        padding-bottom: 46%;
    }
    .contact-content {
        width: 100%;
        justify-content: space-between;
    }
    .contact-content h4 {
        margin: 20px 0;
    }
    .general-info,
    .facilitator {
        width: 40%;
    }

    /*** media query 768px - FAQ page ***/
    .faq .content-wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }
    .faq .content-wrapper h2 {
        width: 100%;
    }
    .faq-content {
        width: 46%;
    }
}

/*** Min-width 1200px ***/
@media all and (min-width: 1200px) {
    /*** Base styles ***/
    .content-wrapper {
        width: 80%;
    }

    /* Header */
    header .content-wrapper figure {
        width: 30%;
    }
    header .content-wrapper nav {
        width: 15%;
    }

    /* Footer */
    .footer-content {
        width: 88%;
        justify-content: space-between;
    }

    /* Main - Hero */
    .hero-area h1 {
        width: 70%;
    }

    /* Main - Reviews */
    .reviews figure {
        width: 48%;
    }
    .reviews .content-wrapper article {
        padding-left: 40px;
        width: 44%;
    }
    
    /*** About page ***/
    .mission h2 {
        width: 91%;
        margin-bottom: 100px;
    }
    .mission-content p {
        width: 45%;
    }
    .map {
        padding-bottom: 38%;
    }
    .contact-content h4 {
        margin: 40px 0;
    }
    .general-info,
    .facilitator {
        width: 35%;
    }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
